In [26]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Dependencies for interaction with database:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session


# Machine Learning dependencies:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Validation libraries
from sklearn import metrics
from sklearn.metrics import accuracy_score, mean_squared_error, precision_recall_curve
from sklearn.model_selection import cross_val_score

from collections import Counter
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_reportimbalanced
from imblearn.over_sampling import RandomOverSampler


from config import db_password
import psycopg2

# Connecting Database & Data Cleaning

In [5]:
url = f"postgres://postgres:{db_password}@127.0.0.1:5433/Employee_Attrition"

In [6]:
def connect(url):
    # Connect to the server
    conn = None
    try:
        print('Connecting...')
        conn = psycopg2.connect(url)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error) 
    print("Connected")
    return conn

In [7]:
#A function to conect a db and bring in Data into a panda df 
def sql_to_df(conn, select_query, column_names):
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error")
        cursor.close()
        return 0
    
    # Turn tupples into a df
    tupples = cursor.fetchall()
    cursor.close()
    
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [8]:
# Connect to the database
conn = connect(url)
column_names = ["Attrition", "Age", "Department", "EmployeeNumber", "Gender", "HourlyRate","JobLevel", "MaritalStatus", "NumCompaniesWorked", "PercentSalaryHike", "PerformanceRating", "StockOptionLevel", "TotalWorkingYears", "TrainingTimesLastYear", "WorkLifeBalance", "YearsAtCompany", "YearsInCurrentRole", "YearsSinceLastPromotion" ]
# Execute the "SELECT *" query
attrition_df = sql_to_df(conn, "select * FROM joint_table", column_names)
attrition_df.head()

Connecting...
Connected

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,Yes,41,Sales,1,Female,94,2,Single,8,11,3,0,8,0,1,6,4,0
1,No,49,Research & Development,2,Male,61,2,Married,1,23,4,1,10,3,3,10,7,1
2,Yes,37,Research & Development,4,Male,92,1,Single,6,15,3,0,7,3,3,0,0,0
3,No,33,Research & Development,5,Female,56,1,Married,1,11,3,0,8,3,3,8,7,3
4,No,27,Research & Development,7,Male,40,1,Married,9,12,3,1,6,3,3,2,2,2

In [10]:
#find null values

for column in attrition_df.columns:
    print(f"Column {column} has {attrition_df[column].isnull().sum()} null values")

Column Attrition has 0 null values
Column Age has 0 null values
Column Department has 0 null values
Column EmployeeNumber has 0 null values
Column Gender has 0 null values
Column HourlyRate has 0 null values
Column JobLevel has 0 null values
Column MaritalStatus has 0 null values
Column NumCompaniesWorked has 0 null values
Column PercentSalaryHike has 0 null values
Column PerformanceRating has 0 null values
Column StockOptionLevel has 0 null values
Column TotalWorkingYears has 0 null values
Column TrainingTimesLastYear has 0 null values
Column WorkLifeBalance has 0 null values
Column YearsAtCompany has 0 null values
Column YearsInCurrentRole has 0 null values
Column YearsSinceLastPromotion has 0 null values

In [11]:
# Transform String column for Attrition

def change_string(attrition):
    if attrition == "Yes":
        return 1
    else: return 0
    
attrition_df["Attrition"] = attrition_df["Attrition"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,1,41,Sales,1,Female,94,2,Single,8,11,3,0,8,0,1,6,4,0
1,0,49,Research & Development,2,Male,61,2,Married,1,23,4,1,10,3,3,10,7,1
2,1,37,Research & Development,4,Male,92,1,Single,6,15,3,0,7,3,3,0,0,0
3,0,33,Research & Development,5,Female,56,1,Married,1,11,3,0,8,3,3,8,7,3
4,0,27,Research & Development,7,Male,40,1,Married,9,12,3,1,6,3,3,2,2,2

In [12]:
# Transform String column for Gender

def change_string(gender):
    if gender == "Female":
        return 1
    else: return 0
    
attrition_df["Gender"] = attrition_df["Gender"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,1,41,Sales,1,1,94,2,Single,8,11,3,0,8,0,1,6,4,0
1,0,49,Research & Development,2,0,61,2,Married,1,23,4,1,10,3,3,10,7,1
2,1,37,Research & Development,4,0,92,1,Single,6,15,3,0,7,3,3,0,0,0
3,0,33,Research & Development,5,1,56,1,Married,1,11,3,0,8,3,3,8,7,3
4,0,27,Research & Development,7,0,40,1,Married,9,12,3,1,6,3,3,2,2,2

In [14]:
# Transform String column for Marital Status

def change_string(marital_status):
    if marital_status == "Single":
        return 1
    elif marital_status == "Married":
        return 2
    else: return 0
    
attrition_df["MaritalStatus"] = attrition_df["MaritalStatus"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,1,41,Sales,1,1,94,2,1,8,11,3,0,8,0,1,6,4,0
1,0,49,Research & Development,2,0,61,2,2,1,23,4,1,10,3,3,10,7,1
2,1,37,Research & Development,4,0,92,1,1,6,15,3,0,7,3,3,0,0,0
3,0,33,Research & Development,5,1,56,1,2,1,11,3,0,8,3,3,8,7,3
4,0,27,Research & Development,7,0,40,1,2,9,12,3,1,6,3,3,2,2,2

In [19]:
# Transform String column for Department

def change_string(dept):
    if dept == "Human Resources":
        return 1
    elif dept == "Research & Development":
        return 2
    elif dept == "Sales":
        return 3
    else: return 0
    
attrition_df["Department"] = attrition_df["Department"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,1,41,3,1,1,94,2,1,8,11,3,0,8,0,1,6,4,0
1,0,49,2,2,0,61,2,2,1,23,4,1,10,3,3,10,7,1
2,1,37,2,4,0,92,1,1,6,15,3,0,7,3,3,0,0,0
3,0,33,2,5,1,56,1,2,1,11,3,0,8,3,3,8,7,3
4,0,27,2,7,0,40,1,2,9,12,3,1,6,3,3,2,2,2

In [20]:
#remove the EmployeeID Column because we have index#s

attrition_df.drop(columns=["EmployeeNumber"], inplace=True)
attrition_df.head()

,Attrition,Age,Department,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,1,41,3,1,94,2,1,8,11,3,0,8,0,1,6,4,0
1,0,49,2,0,61,2,2,1,23,4,1,10,3,3,10,7,1
2,1,37,2,0,92,1,1,6,15,3,0,7,3,3,0,0,0
3,0,33,2,1,56,1,2,1,11,3,0,8,3,3,8,7,3
4,0,27,2,0,40,1,2,9,12,3,1,6,3,3,2,2,2

# Split the Data into Training and Testing

In [22]:
# Create our features
X = pd.get_dummies(attrition_df.drop(columns='Attrition'))
X = pd.get_dummies(X)

# Create our target
y = attrition_df['Attrition']

In [23]:
X.describe()

,Age,Department,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,2.260544,0.400000,65.891156,2.063946,1.235374,2.693197,15.209524,3.153741,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755
std,9.135373,0.527792,0.490065,20.329428,1.106940,0.790757,2.498009,3.659938,0.360824,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430
min,18.000000,1.000000,0.000000,30.000000,1.000000,0.000000,0.000000,11.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,0.000000,48.000000,1.000000,1.000000,1.000000,12.000000,3.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,36.000000,2.000000,0.000000,66.000000,2.000000,1.000000,2.000000,14.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000
75%,43.000000,3.000000,1.000000,83.750000,3.000000,2.000000,4.000000,18.000000,3.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000
max,60.000000,3.000000,1.000000,100.000000,5.000000,2.000000,9.000000,25.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000

In [24]:
# Check the balance of our target values
y.value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(1102, 16)

# Logistic Regression

In [28]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter({'attrition': 1})

Counter({'attrition': 1})

In [29]:
# Train the Logistic Regression model using the resampled data

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [33]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6406505677592106

In [32]:
# Display the confusion matrix

y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[188, 113],
       [ 23,  44]])

In [34]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.62      0.66      0.73      0.64      0.41       301
          1       0.28      0.66      0.62      0.39      0.64      0.41        67

avg / total       0.78      0.63      0.65      0.67      0.64      0.41       368

# Naive Random Oversampling

In [35]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter({'Attrition': 1})

Counter({'Attrition': 1})

In [36]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [37]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6406505677592106

In [38]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[188, 113],
       [ 23,  44]])

In [39]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.62      0.66      0.73      0.64      0.41       301
          1       0.28      0.66      0.62      0.39      0.64      0.41        67

avg / total       0.78      0.63      0.65      0.67      0.64      0.41       368

# SMOTE Oversampling

In [41]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)

Counter({'Attrition': 1})

Counter({'Attrition': 1})

In [42]:
# Train the Logistic Regression model using the resampled data
modelS = LogisticRegression(solver='lbfgs', random_state=1)
modelS.fit(X_resampled, y_resampled)

y_pred = modelS.predict(X_test)

In [43]:
# Calculated the balanced accuracy score

balanced_accuracy_score(y_test, y_pred)

0.6017503842911687

In [44]:
# Display the confusion matrix

cm2 = confusion_matrix(y_test, y_pred)
print(cm2)

[[214  87]
 [ 34  33]]

In [45]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.86      0.71      0.49      0.78      0.59      0.36       301
          1       0.28      0.49      0.71      0.35      0.59      0.34        67

avg / total       0.76      0.67      0.53      0.70      0.59      0.36       368

# Undersampling¶
In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

View the count of the target classes using Counter from the collections library.
Use the resampled data to train a logistic regression model.
Calculate the balanced accuracy score from sklearn.metrics.
Print the confusion matrix from sklearn.metrics.
Generate a classication report using the imbalanced_classification_report from imbalanced-learn.
Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [46]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter({'Attrition': 1})

Counter({'Attrition': 1})

In [47]:
# Train the Logistic Regression model using the resampled data
modelU = LogisticRegression(solver='lbfgs', random_state=1)
modelU.fit(X_resampled, y_resampled)

y_pred = modelU.predict(X_test)

In [48]:
# Calculated the balanced accuracy score

balanced_accuracy_score(y_test, y_pred)

0.5666435265532801

In [49]:
# Display the confusion matrix

cm3 = confusion_matrix(y_test, y_pred)

print(cm3)

[[112 189]
 [ 16  51]]

In [50]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.37      0.76      0.52      0.53      0.27       301
          1       0.21      0.76      0.37      0.33      0.53      0.29        67

avg / total       0.75      0.44      0.69      0.49      0.53      0.28       368

# Combination (Over and Under) Sampling
In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

View the count of the target classes using Counter from the collections library.
Use the resampled data to train a logistic regression model.
Calculate the balanced accuracy score from sklearn.metrics.
Print the confusion matrix from sklearn.metrics.
Generate a classication report using the imbalanced_classification_report from imbalanced-learn.
Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [51]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter({'Attrition': 1})

Counter({'Attrition': 1})

In [52]:
# Train the Logistic Regression model using the resampled data
modelENN = LogisticRegression(solver='lbfgs', random_state=1)
modelENN.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [53]:
# Calculated the balanced accuracy score
y_pred = modelENN.predict(X_test)

balanced_accuracy_score(y_test, y_pred)

0.6438984479595379

In [54]:
# Display the confusion matrix
cm4 = confusion_matrix(y_test, y_pred)
print(cm4)

[[163 138]
 [ 17  50]]

In [55]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.91      0.54      0.75      0.68      0.64      0.40       301
          1       0.27      0.75      0.54      0.39      0.64      0.41        67

avg / total       0.79      0.58      0.71      0.63      0.64      0.40       368